In [45]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [46]:
df = pd.read_csv('data.csv')
df.head()
len(df)

50560

Start preprocessing data.

In [47]:
#delete duplicate rows due to formatting
condition = df['indfmt'] != "FS"
df = df[condition]

#drop unneccessary columns
df = df.drop(columns=['indfmt', 'consol', 'popsrc', 'datafmt', 'curcd', 'gvkey', 'costat', 'dlcch'])

#remove rows that are almost completely empty
condition = df.isnull().sum(axis=1) < 5
df = df[condition]

In [48]:
#fill null expenses with 0
df['xrd'] = df['xad'].fillna(0)
df['xad'] = df['xad'].fillna(0)
df['xsga'] = df['xsga'].fillna(0)
df['xint'] = df['xsga'].fillna(0)

#combine all expenses columns into one column
expenses_list = ['xrd', 'xad', 'xsga', 'xint', 'nopio', 'cogs']
df['expenses'] = df[expenses_list].sum(axis=1)

df = df.drop(columns=expenses_list)

In [50]:
df.head(20)

,tic,fyear,act,ap,at,ceq,che,dlc,dltt,dp,...,lt,ppent,rect,sale,spi,txp,txt,xido,mkvalt,expenses
0,AIR,2009.0,863.429,114.906,1501.042,746.906,79.370,100.833,336.191,38.930,...,754.692,334.430,238.466,1352.151,-4.302,3.263,20.986,0.000,777.8348,1368.672
1,AIR,2010.0,913.985,185.096,1703.727,835.845,57.433,114.075,329.802,59.296,...,868.438,417.764,296.489,1775.782,-1.536,0.000,35.364,-3.313,1049.8206,1754.213
2,AIR,2011.0,1063.272,201.405,2195.653,864.649,67.720,122.865,669.489,80.333,...,1329.631,456.015,324.879,2074.498,-13.864,0.000,25.480,0.000,485.2897,2042.744
3,AIR,2012.0,1033.700,149.300,2136.900,918.600,75.300,86.400,622.200,108.600,...,1217.400,426.400,315.400,2167.100,-21.100,0.000,26.700,0.000,790.0029,2136.100
4,AIR,2013.0,1116.900,171.100,2199.500,999.500,89.200,69.700,564.300,113.400,...,1198.800,413.300,297.900,2035.000,0.000,0.000,32.100,0.000,961.3080,1979.700
5,AIR,2014.0,954.100,142.300,1515.000,845.100,54.700,69.000,85.000,92.300,...,669.900,295.000,231.100,1594.300,-48.400,0.000,-28.500,64.700,1046.3954,1678.700
6,AIR,2015.0,873.100,163.400,1442.100,865.800,31.200,12.000,136.100,70.800,...,576.300,313.900,242.700,1662.600,-0.400,1.100,18.800,7.200,842.5112,1696.200
7,AIR,2016.0,888.500,177.400,1504.100,914.200,10.300,2.000,155.300,71.000,...,589.900,361.500,251.400,1767.600,2.600,12.300,24.100,6.300,1200.3288,1815.900
8,AIR,2017.0,942.700,170.000,1524.700,936.300,41.600,0.000,177.200,40.500,...,588.400,316.600,203.000,1748.300,0.000,0.000,3.500,-58.100,1551.4580,1829.500
9,AIR,2018.0,952.500,187.800,1517.200,905.900,41.100,0.000,141.700,42.800,...,611.300,348.800,258.100,2051.800,-12.400,0.000,4.900,-76.600,1046.7709,2116.300
10,AAL,2010.0,6838.000,1156.000,25088.000,-3945.000,4946.000,1883.000,9253.000,995.000,...,29033.000,15082.000,738.000,22170.000,NaN,0.000,-35.000,0.000,2597.5755,23909.000
11,AAL,2011.0,6757.000,1007.000,23848.000,-7111.000,4739.000,1518.000,6702.000,981.000,...,30959.000,14306.000,902.000,24022.000,-886.000,0.000,0.000,0.000,117.3438,26599.000
12,AAL,2012.0,7072.000,1244.000,23510.000,-7987.000,4742.000,1419.000,7116.000,940.000,...,31497.000,13402.000,1124.000,24855.000,-2595.000,0.000,-569.000,0.000,266.5571,26911.000
13,AAL,2013.0,14323.000,1368.000,42278.000,-2731.000,10286.000,1446.000,15353.000,1021.000,...,45009.000,19259.000,1560.000,26712.000,-3402.000,0.000,-346.000,0.000,6591.9923,28719.000
14,AAL,2014.0,12112.000,1377.000,43771.000,2021.000,8077.000,1708.000,16196.000,1512.000,...,41750.000,23084.000,1771.000,42650.000,-956.000,0.000,330.000,0.000,37405.5843,42798.000
15,AAL,2015.0,9985.000,1563.000,48415.000,5635.000,6949.000,2231.000,18330.000,1607.000,...,42780.000,27510.000,1425.000,40990.000,-1674.000,0.000,-2994.000,0.000,26452.7417,38901.000
16,AAL,2016.0,10324.000,1592.000,51274.000,3785.000,6997.000,1855.000,22489.000,1826.000,...,47489.000,31159.000,1594.000,40180.000,-772.000,0.000,1623.000,0.000,23685.5569,39268.000
17,AAL,2017.0,9146.000,1688.000,51396.000,3926.000,5384.000,2554.000,22511.000,2017.000,...,47470.000,34156.000,1752.000,42207.000,-734.000,0.000,1165.000,0.000,24740.6812,42838.000
18,AAL,2018.0,8637.000,1773.000,60580.000,-169.000,4914.000,4948.000,29081.000,2157.000,...,60749.000,43249.000,1706.000,44541.000,-802.000,0.000,472.000,0.000,14790.2192,46936.000
19,AAL,2019.0,8206.000,2062.000,59995.000,-118.000,3984.000,4569.000,28875.000,2318.000,...,60113.000,43732.000,1750.000,45768.000,-436.000,0.000,570.000,0.000,12280.8620,47673.000