In [13]:
import pandas as pd 
import numpy as np 
from matplotlib import pyplot

In [14]:
df = pd.read_csv('stock fundamental data.csv')
df.head(20)

,gvkey,tic,fyear,indfmt,consol,popsrc,datafmt,curcd,act,ap,...,spi,txp,txt,xad,xido,xint,xrd,xsga,costat,mkvalt
0,1004,AIR,2009.0,INDL,C,D,STD,USD,863.429,114.906,...,-4.302,3.263,20.986,NaN,0.000,26.832,NaN,151.904,A,777.8348
1,1004,AIR,2010.0,INDL,C,D,STD,USD,913.985,185.096,...,-1.536,0.000,35.364,NaN,-3.313,30.670,NaN,171.399,A,1049.8206
2,1004,AIR,2011.0,INDL,C,D,STD,USD,1063.272,201.405,...,-13.864,0.000,25.480,NaN,0.000,37.772,NaN,189.397,A,485.2897
3,1004,AIR,2012.0,INDL,C,D,STD,USD,1033.700,149.300,...,-21.100,0.000,26.700,NaN,0.000,41.600,NaN,207.400,A,790.0029
4,1004,AIR,2013.0,INDL,C,D,STD,USD,1116.900,171.100,...,0.000,0.000,32.100,NaN,0.000,42.000,NaN,197.600,A,961.3080
5,1004,AIR,2014.0,INDL,C,D,STD,USD,954.100,142.300,...,-48.400,0.000,-28.500,NaN,64.700,26.500,NaN,167.900,A,1046.3954
6,1004,AIR,2015.0,INDL,C,D,STD,USD,873.100,163.400,...,-0.400,1.100,18.800,NaN,7.200,6.400,NaN,170.800,A,842.5112
7,1004,AIR,2016.0,INDL,C,D,STD,USD,888.500,177.400,...,2.600,12.300,24.100,NaN,6.300,5.500,NaN,196.700,A,1200.3288
8,1004,AIR,2017.0,INDL,C,D,STD,USD,942.700,170.000,...,0.000,0.000,3.500,NaN,-58.100,8.000,NaN,208.600,A,1551.4580
9,1004,AIR,2018.0,INDL,C,D,STD,USD,952.500,187.800,...,-12.400,0.000,4.900,NaN,-76.600,9.500,NaN,218.800,A,1046.7709
10,1045,AAL,2010.0,INDL,C,D,STD,USD,6838.000,1156.000,...,NaN,0.000,-35.000,165.0,0.000,823.000,NaN,2729.000,A,2597.5755
11,1045,AAL,2011.0,INDL,C,D,STD,USD,6757.000,1007.000,...,-886.000,0.000,0.000,186.0,0.000,826.000,NaN,2907.000,A,117.3438
12,1045,AAL,2012.0,INDL,C,D,STD,USD,7072.000,1244.000,...,-2595.000,0.000,-569.000,153.0,0.000,662.000,NaN,2892.000,A,266.5571
13,1045,AAL,2013.0,INDL,C,D,STD,USD,14323.000,1368.000,...,-3402.000,0.000,-346.000,166.0,0.000,692.000,NaN,4672.000,A,6591.9923
14,1045,AAL,2014.0,INDL,C,D,STD,USD,12112.000,1377.000,...,-956.000,0.000,330.000,100.0,0.000,915.000,NaN,6554.000,A,37405.5843
15,1045,AAL,2015.0,INDL,C,D,STD,USD,9985.000,1563.000,...,-1674.000,0.000,-2994.000,110.0,0.000,932.000,NaN,6683.000,A,26452.7417
16,1045,AAL,2016.0,INDL,C,D,STD,USD,10324.000,1592.000,...,-772.000,0.000,1623.000,116.0,0.000,1036.000,NaN,6652.000,A,23685.5569
17,1045,AAL,2017.0,INDL,C,D,STD,USD,9146.000,1688.000,...,-734.000,0.000,1165.000,135.0,0.000,1102.000,NaN,7136.000,A,24740.6812
18,1045,AAL,2018.0,INDL,C,D,STD,USD,8637.000,1773.000,...,-802.000,0.000,472.000,128.0,0.000,1056.000,NaN,7570.000,A,14790.2192
19,1045,AAL,2019.0,INDL,C,D,STD,USD,8206.000,2062.000,...,-436.000,0.000,570.000,129.0,0.000,1095.000,NaN,7717.000,A,12280.8620

In [7]:
df.info

<bound method DataFrame.info of         gvkey  tic   fyear indfmt consol popsrc datafmt curcd       act  \
0        1004  AIR  2009.0   INDL      C      D     STD   USD   863.429
1        1004  AIR  2010.0   INDL      C      D     STD   USD   913.985
2        1004  AIR  2011.0   INDL      C      D     STD   USD  1063.272
3        1004  AIR  2012.0   INDL      C      D     STD   USD  1033.700
4        1004  AIR  2013.0   INDL      C      D     STD   USD  1116.900
...       ...  ...     ...    ...    ...    ...     ...   ...       ...
50555  328795  ACA  2015.0   INDL      C      D     STD   USD       NaN
50556  328795  ACA  2016.0   INDL      C      D     STD   USD   419.900
50557  328795  ACA  2017.0   INDL      C      D     STD   USD   428.800
50558  328795  ACA  2018.0   INDL      C      D     STD   USD   667.000
50559  328795  ACA  2019.0   INDL      C      D     STD   USD   757.200

            ap  ...     spi    txp     txt  xad   xido    xint  xrd     xsga  \
0      114.906  ...  -4.302  3.263  20.986  NaN  0.000  26.832  NaN  151.904
1      185.096  ...  -1.536  0.000  35.364  NaN -3.313  30.670  NaN  171.399
2      201.405  ... -13.864  0.000  25.480  NaN  0.000  37.772  NaN  189.397
3      149.300  ... -21.100  0.000  26.700  NaN  0.000  41.600  NaN  207.400
4      171.100  ...   0.000  0.000  32.100  NaN  0.000  42.000  NaN  197.600
...        ...  ...     ...    ...     ...  ...    ...     ...  ...      ...
50555      NaN  ...     NaN    NaN     NaN  NaN    NaN     NaN  NaN      NaN
50556   48.900  ...   0.000  0.000  74.200  NaN  0.000   0.000  NaN  147.300
50557   56.000  ...   0.000  0.000  40.400  NaN  0.000   0.000  NaN  163.000
50558   86.200  ... -24.000  0.000  19.300  NaN  0.000   0.900  NaN  153.900
50559   90.000  ...  -2.000  0.000  33.500  NaN  0.000   6.800  NaN  179.500

       costat     mkvalt
0           A   777.8348
1           A  1049.8206
2           A   485.2897
3           A   790.0029
4           A   961.3080
...       ...        ...
50555       A        NaN
50556       A        NaN
50557       A        NaN
50558       A  1348.5030
50559       A  2151.7650

[50560 rows x 39 columns]>

In [8]:
df.shape

(50560, 39)

In [10]:
#find the different in the tic 
df.isnull().sum()

gvkey          0
tic            0
fyear         51
indfmt         0
consol         0
popsrc         0
datafmt        0
curcd         51
act        21788
ap         10863
at          6722
ceq         6843
che        13777
cogs       13868
dlc         7086
dlcch      31465
dltt        6884
dp          9347
dvc         7149
ib          6821
intan       7427
invt       12160
ivao       15275
lct        21720
lt          6792
nopio      17628
ppent       8714
rect       14032
sale       13865
spi         7300
txp        15200
txt         6826
xad        35615
xido        6821
xint       12512
xrd        31021
xsga       19673
costat         0
mkvalt     14697
dtype: int64

In [11]:
df.describe()

,gvkey,fyear,act,ap,at,ceq,che,cogs,dlc,dlcch,...,sale,spi,txp,txt,xad,xido,xint,xrd,xsga,mkvalt
count,50560.000000,50509.000000,28772.000000,3.969700e+04,4.383800e+04,43717.000000,36783.000000,36692.000000,43474.000000,19095.000000,...,36695.000000,43260.000000,35360.000000,43734.000000,14945.000000,43739.000000,38048.000000,19539.000000,30887.000000,3.586300e+04
mean,78141.625356,2014.705379,2201.203041,6.488626e+03,2.737283e+04,3676.031438,2500.276956,3200.957252,2189.510767,-18.841114,...,4978.363805,-51.217464,46.458869,144.598094,126.396930,6.013965,220.552049,204.104472,899.984854,6.909832e+03
std,74557.228319,2.827268,7823.770855,6.743424e+04,1.663084e+05,14295.574568,22742.618573,13843.798492,19002.004977,1937.121268,...,18838.223713,619.666088,337.198256,855.765118,522.334645,427.896856,1284.343599,1009.301838,3596.929696,2.875409e+04
min,1004.000000,2009.000000,0.000000,0.000000e+00,0.000000e+00,-22884.000000,0.000000,-669.218000,0.000000,-97243.000000,...,-1408.000000,-41250.000000,-62.000000,-34831.000000,-0.485000,-7808.000000,-367.330000,-0.648000,0.000000,1.202000e-01
25%,17411.000000,2012.000000,75.632750,5.755000e+00,3.183000e+02,89.275000,23.709000,34.057000,0.000000,-0.286000,...,80.681500,-10.000000,0.000000,0.000000,0.885000,0.000000,1.334000,1.051000,28.240000,1.941094e+02
50%,30932.000000,2015.000000,308.288500,4.980000e+01,1.443412e+03,405.956000,96.185000,249.718000,10.608500,0.000000,...,508.938000,-0.121000,0.000000,5.047000,5.420000,0.000000,16.000000,14.778000,108.484000,8.590098e+02
75%,157862.750000,2017.000000,1218.292000,3.765610e+02,6.103685e+03,1669.039000,385.327500,1464.923000,137.139750,0.500000,...,2481.300500,0.000000,4.431500,48.823500,42.400000,0.000000,86.115500,62.669000,423.302000,3.511034e+03
max,328795.000000,2019.000000,175552.000000,1.842510e+06,2.830229e+06,244823.000000,772024.420000,383618.000000,503984.874000,73378.000000,...,521426.000000,30429.426000,12727.000000,31051.000000,11000.000000,80220.090000,38964.405000,35931.000000,107669.000000,1.073391e+06

In [15]:
df['tic'].value_counts()

BLK     20
EFSC    20
WRLD    20
HMNF    20
IBCP    20
        ..
DERM     1
FRSH     1
S        1
HCCH     1
GLAC     1
Name: tic, Length: 4932, dtype: int64